.title {
  text-align: center;
}

.logo {
  padding: 15px;
  background-color: #b20000;
  color: #fff;
  text-align: left;
  font-weight: bolder;
  margin: 0;
}

.search-cities{
  padding: 24px 0px;
}
